// Import Vuetify styling
@require './atom-one-dark.css'
@require '~vuetify/src/stylus/main'

.page-enter-active, .page-leave-active {
  transition: opacity .2s
  //transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.page-enter, .page-leave-to {
  opacity: 0;
  //transform: translateY(-15px);
}

.pointer {
  cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}